<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated study_program -->
      <package
            uri="http:///study_program.ecore"
            class="tdt4250.study_program.Study_programPackage"
            genModel="model/study_program.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated study_program -->
      <parser
            type="study_program"
            class="tdt4250.study_program.util.Study_programResourceFactoryImpl"/>
   </extension>

</plugin>
